body 
{
    background-image: url("wood.jpg");
}

#navbar
{
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

#head 
{
    line-height: 60px;
    color: #00ff00;
    font-size: 50px;
    text-align: center;
    text-shadow: 4px 4px 8px #000000;
}

#block1
{
    margin-top: 6px;
    border: 3px solid white;
}

ul
{
    text-align: center;
}

li
{
    
    margin: 15px;
    padding: 0;
    display: inline;
    text-align: center;
    list-style: none;
    font-size: 30px;
    line-height: 50px;
    color: #ff8000;
    text-shadow: 4px 4px 8px #808080;
}

li > a 
{
    text-decoration: none;
    color: #ff8000;
}

li > a:hover 
{
    color: #f09b27;
}

li > a:active 
{
    color: #ff9f3e;
}

footer 
{
    margin-top: 15px;
    padding-left: 10px;
    background-color: #005b7e;
    line-height: 60px;
}

h1 
{
    padding-left: 10px;
}

h2 
{
    padding-left: 10px;
}

#logo
{
    position: absolute;
    width: 75px;
    height: 60px;
    right: 20px;
}